<!--Carga los archivos estáticos como blog.css-->
{% load static %}

<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"><!--Estilo de la letra para agregarlo en el archivo css-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}"><!--Agregar el archivo css a la pagina-->
    </head>
    <body>
        <!--Estilo base para el encabezado-->
        <div class="page-header">
            <!--Solo muestra el boton de editar a los usuario que se hayan logueado-->
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Daniblog</a></h1>
        </div>
        
        <!--Estilo base para el contenido-->
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>