<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Daniblog</a></h1>
        </div>

        <!--Las llaves se usan para mostrar el resultado almacenado en la variable posts
        con el ciclo for se muestra el title de los blogs y no se muestra como una lista-->
        {% for post in posts %}
            <div>
                <p> publicado: {{ post.published_date }}</p><!--post.published_date toma fecha-publicacion-->
                <h2><a href="">{{ post.title }}</a></h2><!--post.title toma el titulo-->
                <p>{{ post.text|linebreaksbr }}</p><!--muestra el texto y linebreaksbr es salto de linea-->
            </div>
        {% endfor %}